#canvas {
/*  background-color: #000000;*/
  padding: 8px;
  display: inline-block;
}

/*Original grid color
.grid-color {
  border-color: #000000;
}*/

/*hexagon code*/
.hexagon {
  float: left;
  margin-right: -4.62px;
  margin-bottom: -8px;
}

.hexagon .left {
  float: left;
  width: 0;
  border-right: 4.62px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.hexagon .middle {
  float: left;
  border-width: 8px 4.62px;
  border-style: solid;
  border-color: black;
}

.hexagon .right {
  float: left;
  width: 0;
  border-left: 4.62px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.hex-row {
  clear: left;
}

.hexagon.even {
  margin-top: 8px;
}

/*buttons and form structure*/
#form-row {
  display: flex;
  align-items: center;
  justify-items: center;
}

#update-grid-button {
  margin-top: 10px;
}

#reset-grid-button {
  margin-top: 25px;
}

/*Color picker*/
#colors {
  width: 25.5px;
  border: 1px solid black;
}

#colors div {
  width: 0;
  border-width: 12.5px;
}

.border {
  /*width: 0;*/
  border-style: solid;
}

.white {
  border-color: #FFFFFF;
}

.peach {
  border-color: #FFCCCC;
}

.pink {
  border-color: #FFB3D9;
}

.red {
  border-color: #FF0000;
}

.orange {
  border-color: #FF661A;
}

.yellow {
  border-color: #FFFF00;
}

.green {
  border-color: #33CC33;
}

.blue {
  border-color: #0000FF;
}

.purple {
  border-color: #9933FF;
}

.brown {
  border-color: #663300;
}

.grey {
  border-color: #8C8C8C;
}

.black {
  border-color: #000000;
}
