.cell {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

#colors tr td {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

#canvas {
  background-color: #000000;
}

#form-row {
  display: flex;
  align-items: center;
  justify-items: center;
}

#update-grid-button {
  margin-top: 10px;
}

#reset-grid-button {
  margin-top: 25px;
}

.white {
  background-color: #FFFFFF;
}

.peach {
  background-color: #FFCCCC;
}

.pink {
  background-color: #FFB3D9;
}

.red {
  background-color: #FF0000;
}

.orange {
  background-color: #FF661A;
}

.yellow {
  background-color: #FFFF00;
}

.green {
  background-color: #33CC33;
}

.blue {
  background-color: #0000FF;
}

.purple {
  background-color: #9933FF;
}

.brown {
  background-color: #663300;
}

.grey {
  background-color: #8C8C8C;
}

.black {
  background-color: #000000;
}
